/* 
    Document   : osnic_chartsMain
    Created on : 12 Sep, 2014, 3:56:03 PM
    Author     : yashan
    Description:
        Purpose of the stylesheet follows.
*/

#osMychartstbl {
    border-collapse: collapse;
    border: 1px solid #e0e0e0;
}

#osMychartstbl tr, #osMychartstbl th, #osMychartstbl td{
    border: 1px solid #e0e0e0;
    word-wrap: break-word;
}
#osMychartstbl b{word-wrap: break-word;}
#osMychartstbl th{font-weight:bolder;}
#osMychartstbl .check-column{width:2.4em;}
h3.create_chart_head{text-align: center;}
#create_chart_frm .form-table td{text-align:right;}
.create_chart_option,#create_chart_frm .form-table,#create_chart_frm .form-table td{width:370px; margin:0 auto;}
.chart_list_view .tablenav-pages span.current{ background: none repeat scroll 0 0 #2EA2CC;color: #ffffff;padding: 4px 10px;}
#chartContainer{margin:0 auto;}
#create_chart_frm label{float: left;margin: 2px 30px;}
.empty_recordset{text-align:center;}

@media screen and (min-width:320px) and (max-width:480px)
{.create_chart_option,#create_chart_frm .form-table,#create_chart_frm .form-table td{width:95%; margin:0 auto;}}

.form-table-charts th, .form-table-charts td{
    padding: 5px;
    text-align: center;
}

#create_chart_frm .form-table td{
    text-align: center;
}